<!-- haed -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuma Uchiumi</title>
    <link rel="icon" href="{{"/blog/assets/img/favicon-32x32.png" | relative_url }}">
    <link rel="stylesheet" href="{{"/blog/assets/css/foundation.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{"/blog/assets/css/docs.css" | relative_url }}">
    <link rel="stylesheet" href="{{"/blog/assets/css/clean-blog.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{"/blog/assets/highlightjs/styles/github.css" | relative_url }}" media="screen, projection" type="text/css">
    <script src="{{"/blog/assets/js/vendor/modernizr.js" | relative_url }}"></script>
    <script src="{{"/blog/assets/js/vendor/jquery.js" | relative_url }}"></script>
    <script src="{{"/blog/assets/highlightjs/highlight.pack.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
      function before_search(){
      var searchVal = 'site:efrat19.github.io ' + document.getElementById('search_input').value;
      document.getElementById('search_q').value = searchVal;
      return true;
      }
    </script>
    <!-- Mathjax Support -->
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
